.body{ 
    margin:0%;
    padding:0%;
}

/* NAVBAR STYLES*/

.navbar{
    background-color: rgba(255,255,255,0);
    height: 90px;
    position: fixed;
    float: left;
    clear: right;
    top: 0px;

}

.navbar-logo{ 
    height: 90px;
    width: 75px;
    border-radius: 50%;
    padding: 5px;
}

.nav{
    list-style: none;
    float: right;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Special Elite', cursive;
}


.nav-link{ 
    float: left;
    padding: 28px;
    color: black;
}

.nav-link:hover {
    color: #3a2a24;
}

.hero-img{
    background-image: url(./Img/hero-img.jpeg);
    width: 100%;
    height: 950px;
}

.title{ 
    list-style: none;
    float: right;
    clear: left;
    font-size: 22px;
    font-weight: bold;
    padding: 125px;
    color: black;
    letter-spacing: 3px;
    letter-spacing: 20px;
    font-family: 'Special Elite', cursive;
    text-decoration: underline;
}

/* HOME STYLES */

.home-content{ 
    height: 500px;
    width:100%;
    background-color: #5F9E94;
    position: absolute;
    clear: right;
}



.content-para{ 
    height: 350px;
    width: 500px;
    background-color: #5F9E94;
    position: absolute;
    top: 80px;
    left: 100px;
    display: inline-block;
    font-family: 'Special Elite', cursive;
    line-height: 55px;
    font-size: 40px;

}

.home-img{
    background-image: url(./Img/oahu-island.jpg);
    width: 420px;
    height: 400px;
    position: absolute;
    top: 95px;
    left: 800px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    clear: right;
}

.home-video{ 
  padding-top: 500px;

}

/* CONTACT STYLES */


.contact-map{ 
    width: 100%;
    height: 500px;
    float: left;
    padding-top: 120px;
}
.contact-form{ 
    width: 150px;
    height: 500px; 
    padding-top: 100px;
}


/* ABOUT STYLES */

.about-container{
    height: 500px; 
    width: 100%;
    margin-top: 120px;
    margin-bottom: 20px;

}

.about-column{
    width: 28%;
    float: left; 
    padding: 25px 20px;
    margin-left: 20px;
    overflow: hidden; 
    text-align: center; 
}

.about-img{
    height: 300px;
    width: 280px;
    margin: auto; 
}

.about-img2{
    height: 300px;
    width: 200px;
}

.about-img3{
    height: 300px;
    height:200px;
}

.about-button{ 
    background-color: gray; 
    color: white;
}

.about-audio{
    margin-bottom: 247px;
}
   
/* FOOTER STYLES */

.footer-content{ 
    background-color: #5F9E94;
    width: 100%;
    height: 80px;
}

.footer-item{ 
    color: black;
    font-size: 25px;
    padding-left: 630px;
    padding-top: 10px;
    letter-spacing: 10px;
    text-decoration: none;
}

.footer-icon{ 
    color: black;
}

.footer-icon:hover{
    color: white;
}


